.table-country {
	/*width:70%;*/
	border-spacing: 10px 10px;
	/*border-collapse: unset;*/
	border-bottom:2px solid #eee;
}
.table-country td {
	padding:15px 8px;
}
.table-thead::after {
	content:'';
	display: block;	
	height: 10px;
}
.td-btn {
	text-align: right;
}
.add-country-form {
	width: 70%;
}
.form-group1 {
	display: flex;
	justify-content: center;
	vertical-align: middle;
	/*font-family:'sans-serif';*/
}
.table-city {
	width:40%;
	border-spacing: 0 10px;
	border-collapse: unset;
}
.wrapper {
	padding:0 5% 5% 5%;
}
.table-country tbody tr td:first-child {
	padding-left:0;
}
.table-country tbody tr td:last-child {
	padding-right:0;
}
.table-thead tr th {
	padding: 0 8px;
}
.table-thead tr th:first-child {
	padding-left:0;
}
